@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* filepath: c:\Users\DELL\Documents\Ideathon\Ideathon-6.0\src\index.css */

:root {
  /* Colors */
  --bg-color: #030B15; /* Dark Blue */
  --header-cyna: #00E0FF; /* Bright Cyan */
  --nav-hover: #00C4F4; /* Soft Cyan */
  --bt-hover: #04629A; /* Slightly Darker Blue */

  /* Fonts */
  --para-all: 'Montserrat', sans-serif;
  --track-header: 'Outfit', sans-serif;
  --font-footer: 'Poppins', sans-serif;
}

@font-face {
  font-family: 'Delivery';
  src: url('./assets/delivery-delivery-700.otf') format('opentype');
  src: url('./assets/delivery-delivery-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}